/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------*\
  #AUTHOR-CSS
\*------------------------------------*/

/*------------------------------------*\
  #BASE-CSS
\*------------------------------------*/

body {
	height: 100%;
	background-color: #5d4037;
	color: #d7ccc8;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 66px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

h5 {
	color: white;
	font-size: 33px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

/*------------------------------------*\
  #SHAPES
\*------------------------------------*/

.stacks {
	background-color: aliceblue;
	width: 1500px;
	height: 500px;
	margin: 0 auto;
	border: 5px solid black;
	box-shadow: 10px 5px 5px black;
}

#percent-10 {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	top: 36.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
  }

#percent-20 {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: orange;
	top: 35.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
  }

#percent-30 {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: green;
	top: 34.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
  }

#percent-40 {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: pink;
	top: 33.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
  }

#percent-50 {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: blue;
	top: 32.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
	}

#percent-60 {
	position: absolute;
	width: 120px;
	height: 120px;
	background-color: rgb(0, 255, 234);
	top: 31.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
	}

#percent-70 {
	position: absolute;
	width: 140px;
	height: 140px;
	background-color: rgb(251, 255, 0);
	top: 30.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
	}

#percent-80 {
	position: absolute;
	width: 160px;
	height: 160px;
	background-color: rgb(38, 0, 255);
	top: 29.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
	}

#percent-90 {
	position: absolute;
	width: 180px;
	height: 180px;
	background-color: rgb(247, 0, 255);
	top: 28.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
	}

#percent-100 {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: rgb(0, 119, 255);
	top: 27.5%;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 20px;
	}

/*------------------------------------*\
  #DISK SELECTION STYLES
\*------------------------------------*/

.selection {
	text-align: center;
	margin: 0 auto;
	width: 1080px;
}

.disk-selection {
	float: left;
	list-style: none;
	width: 33.3%;
	vertical-align: top;
	padding: 20px 15px 0 15px;
}

#btn-5,
#btn-6,
#btn-7,
#btn-8,
#btn-9,
#btn-10 {
	background-color: #0b527a;
	color: white;
	text-decoration: none;
	border: solid #000000 3px;
	text-shadow: 2px 3px 3px #666666;
	font-size: 33px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	box-shadow: 5px 3px 3px #757575;
}

#btn-5:hover,
#btn-6:hover,
#btn-7:hover,
#btn-8:hover,
#btn-9:hover,
#btn-10:hover {
	background-color: #7a0b0b;
}


/*------------------------------------*\
  #START BUTTON STYLES
\*------------------------------------*/

.start-button {
	float: right;
	width: 33.3%;
	vertical-align: top;
	padding: 70px 15px 0 15px;
}

#start {
	background-color: #0b527a;
	color: white;
	text-decoration: none;
	border: solid #000000 3px;
	text-shadow: 2px 3px 3px #666666;
	font-size: 33px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	box-shadow: 5px 3px 3px #757575;
}

#start:hover {
	background-color: #7a0b0b;
}